@import "./username.css";
@import "./instruction.css";

.button {
    background-color: transparent;
    background-image: url('../images/PNG/button-border.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 25px;
    height: 3.5em;
    width: 300px;
    color: var(--light-color);
    margin: 20px;
}

table {
  font-family: 'Poppins', sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 40px auto;
}

th {
  font-family: 'Bowlby One SC', sans-serif;
  font-size: 1.5em;
  color: #9A3B3B;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #9A3B3B;
}

tr:hover {
  background-color: #F2ECBE;
}